<div class="container">
  <h1>Validation des demandes</h1>
  <table class="table table-striped centre">
    <thead class="table-active">
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Type</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody *ngFor="let absence of absences">
    <tr *ngIf="absence.statut == 'En_Attente_Validation'">
      <td> {{absence.dateDebut| date:'dd/MM/yyyy' }}</td>
      <td> {{absence.dateFin| date:'dd/MM/yyyy' }}</td>
      <td> {{absence.type}}</td>
      <td>{{utilisateur.nom}}</td>
      <td><a href="#">
        <fa name="check" class="text-success"></fa>
      </a><a href="#">
        <fa name="times-circle" class="text-danger"></fa>
      </a></td>
    </tbody>
  </table>
</div>
