<h2>Demande d'absence</h2>
<br/>
<br/>
<form class="container justify-content-center">

  <div class="form-group row justify-content-center">
    <label for="dateDebut" class="col-form-label mr-2">Date de début</label>
    <div class="col-input-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp"  ngbDatepicker #d="ngbDatepicker" id="dateDebut">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="../../assets/img/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="dateFin" class="col-form-label mr-2">Date de fin</label>
    <div class="col-input-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp"  ngbDatepicker #e="ngbDatepicker" id="dateFin">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
            <img src="../../assets/img/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="typeConges" class="col-form-label mr-2">Type de congé</label>
    <select class="custom-select my-1 mr-sm-2" id="typeConges" style="width: 15rem">
      <option selected>(Type de congé)</option>
      <option>Congé payé</option>
      <option>RTT</option>
      <option>Congé sans solde</option>
    </select>
  </div>

  <div class="form-group row justify-content-center">
    <label for="motif" class="col-form-label mr-2">Motif</label>
    <textarea class="col-form-control" id="motif" rows="4" style="width: 25rem"></textarea>
  </div>

  <div class="form-group row">
    <div class="offset-4 col-2 justify-content-center">
      <input class="btn btn-danger align-self-end"type="button" value="Annuler">
    </div>
    <div class=" col-6">
      <input class="btn btn-success" type="submit" value="Valider">
    </div>
  </div>
</form>
