@media screen and (min-width: 992px) {
  .screenLaptop {
    display: none;
  }

  .screenMobile {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .screenLaptop {
    display: block;
  }

  .screenMobile {
    display: none;
  }
}
