<div class="container">
  <h1>Gestion des absences</h1>
  <table class="table table-striped">
    <thead class="table-active">
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Type</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td><a href="#" ></a></td>
    </tr>
    </tbody>
  </table>

  <div class="offset-8">
    <div class="row">
      <p id="add">Demander une absence <button class="btn btn-primary">+</button></p>
    </div>
  </div>
  <div>
    <p>Solde des compteurs :</p>
    <ul>
      <li>Congées payés : </li>
      <li>RTT : </li>
    </ul>
  </div>
</div>

