<div class="container">
  <h1>Gestion des absences</h1>
  <table class="table table-striped centre">
    <thead class="table-active">
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Type</th>
      <th>Statut</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let absence of absences">
      <td> {{absence.dateDebut| date:'dd/MM/yyyy' }}</td>
      <td> {{absence.dateFin| date:'dd/MM/yyyy' }}</td>
      <td> {{absence.type}}</td>
      <td> {{absence.statut}}</td>
      <td><a href="" [routerLink]="['/absences/' +absence.action]">{{absence.action}}
      </a></td>
    </tr>
    </tbody>
  </table>
  <div class="offset-8">
    <div class="row">
      <p id="add">Demander une absence
        <button class="btn btn-primary" [routerLink]="['/absences/ajouter']">+</button>
      </p>
    </div>
  </div>
  <div>
    <p>Solde des compteurs :</p>
    <ul>
      <li>Congées payés :</li>
      <li>RTT :
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
